@import 'https://fonts.googleapis.com/css?family=Raleway';

html {
  font-family: 'Raleway', sans-serif;
 /* background: url('./bg3.png') center center fixed;*/
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  border:10px solid #F4F0E6; 
  padding: 0;
  margin: 0;
}

html body {
  background-color: #5A62EB;
}

.menu-page .navbar {
  background-color: #5A62EB; 
  border: none;
}

.menu-page .navbar a {
  color:#fff;
  padding-top:35px;
}

.container-not {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 60vh;
}

.box {
  color:#fff;
  width: 700px;
  margin: 5px; 
  text-align: center;
}

.logo {
  width:75px;
  height:75px;
  margin-top:-45px;
}

